header {
  font-size: 30px;
  font-family: 'Peralta', cursive;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main div {
  padding: 2%;
  text-align: center;
  font-family: 'Peralta', cursive;
}
